#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav{
    background-color: #646cff;
    color: white;
    font-weight: bold;
}
button{
    display: block;
    cursor: pointer;
    border: 1px solid coral;
    outline: none;
    background-color: white;
    color: #646cff;
    margin: 1rem auto;
}