#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem 0.85rem;
  /* padding: 2rem; */
  text-align: center;
}
nav{ 
    background-color: #646cff;
    color: white;
    font-weight: bold;
}
button{
    display: block;
    cursor: pointer;
    border: 1px solid #646cff;
    outline: none;
    background-color: white;
    color: black;
    margin: 1rem auto;
}